.register-form {
    z-index: 1;
    background: #f4f9f9 !important;
    right: 0;
}
.login_play_header {
    background: #f4f9f9!important;
        font-size: 28px;
        padding: 8px;
        color: #03506f;
            font-weight: 900;
        text-transform: uppercase;
        font-family: 'Alegreya Sans',
        sans-serif;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.form_block_spaces {
    padding-top: 15px !important;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 71px; */
    padding-bottom: 29px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    margin-left: -15px;
}
#login_modal .form-group {
    margin-top: 10px !important;
}
.font_sz_signup {
    color: #03506f;
    font-size: 15px;
    font-weight: 600;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #487e95;
}
.register-form input {
    /* background-color: transparent; */
    background-color: #ecf4f3;
    color: #fff;
}
.change_focus {
    border-radius: 4px !important;
        padding: 25px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.input
    {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
        overflow: visible;
    }
    .mt-4 {
        margin-top: 1.5rem !important;
    }

    .mb-3{
        margin-bottom: 1rem !important;
    }
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
.text-right {
    text-align: right !important;
}
.theme-btn {
    border: none;
    border-bottom: 1px solid #c7cfb7;
    background-color: #d3e0ea;
    border-radius: 3px;
    padding: 7px 15px;
        color: #11698e !important;
    z-index: 1;
    float: none !important;
}
.dont_have p {
    color: #487e95;
}
.pt-1{
    color: #487e95;
}

